nav {
  width: 100%;
  padding-top: 3rem;
  min-width: 200px;
  max-width: 740px;
  margin: 0 auto;
}

.nav {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin-top: 0;
  padding: 15px 0 15px 15px;
  display: inline-flex;
}

.nav__item--branding {
  padding: 0;
}

.nav__item--branding:after,
.nav__item:last-child:after {
  display: none;
}


.nav__item:first-child {
  margin-right: auto;
}

.nav__item:first-child a {
  font-size: 28px;
  font-weight: 700;
  padding-left: 0;
  color: $raisin-black;
}

.nav__url--selected {
  color: $black;
  border-bottom: $black solid 2px;
}

.nav__url {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: $raisin-black;
}

.nav__url:hover {
  color: $light-green;
}

.nav__item::after {
  content: '/';
  padding-left: 15px;
  color: $ash-gray;
}

@media (max-width: $screen-sm) {

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav__item {
    padding: 15px 8px 15px 8px;
  }

  .nav__item:not(:first-child) {
    flex: 0 1 auto;
  }

  .nav__item--branding {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
}