*, *:before, *:after {
  box-sizing: border-box;
}

::selection {
  background: #20bc7e;
  color: #fff;
  text-shadow: none;
}

html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  /*padding-bottom: 6rem;*/
  min-height: 100%;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #333333;
}

/* Navigation */

nav {
  width: 100%;
  padding-top: 3rem;
  min-width: 200px;
  max-width: 740px;
  margin: 0 auto;
}

.nav {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin-top: 0;
  padding: 15px 0 15px 15px;
  display: inline-flex;
}

.nav__item--branding {
  padding: 0;
}

.nav__item--branding:after,
.nav__item:last-child:after {
  display: none;
}


.nav__item:first-child {
  margin-right: auto;
}

.nav__item:first-child a {
  font-size: 28px;
  font-weight: 700;
  padding-left: 0;
  color: #232323;
}

.nav__url--selected {
  color: black;
  border-bottom : black solid 2px
}

.nav__url {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #232323;
}

.nav__url:hover {
  color: #20bc7e;
}

.nav__item::after {
  content: '/';
  padding-left: 15px;
  color: #b7b7b7;
}

main {
  min-width: 200px;
  max-width: 740px;
  margin: 0 auto;
  padding: 45px 0;
  color: #484848;
  letter-spacing: 0.01rem;
  /*font-size: 17px;*/
  line-height: 1.85rem;
}

.post {
  position: relative;
  width: 100%;
  max-width: 740px;
  margin: 0 auto 3rem auto;
  padding-bottom: 2rem;
  border-bottom: #EBF2F6 1px solid;
  word-wrap: break-word;
  hyphens: auto;
}

.post:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px;
}

.post__meta {
  font-size: 0.85rem;
  color: rgba(70, 70, 70, 0.8);
  margin-bottom: 16px;
  display: inline-block;
}

.post__title {
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.post__url {
  color: #444;
  transition: 0.1s ease-out;
}

.post__digest {
  color: #5d5d5d;
  transition: color 500ms ease;
}

.post__digest:hover {
  color: inherit;
}

.post__more {
  color: rgba(0, 0, 0, 0.8);
  padding-left: 0.3rem;
  transition: all 4s ease-out;
}

.post_content a {
  color: inherit;
  font-weight: 500;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;

  background-image: linear-gradient(180deg, transparent 50%, rgb(0, 0, 0) 50%);
  background-size: 100% 200%;
  background-position: 0% 0;
  transition: background-position 150ms steps(100);
}

.post_content a img {
  vertical-align: bottom;
}

.post_content a:hover {
  color: white;
  transition: all 150ms ease;
  background-position: 0 100%;
}

footer {
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #6f6f6f;
  font-size: 0.8rem;
}


/* Media Queries */

@media (max-width: 767px) {

  body {
    padding: 15px;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav__item {
    padding: 15px 8px 15px 8px;
  }

  .nav__item:not(:first-child) {
    flex: 0 1 auto;
  }

  .nav__item--branding {
    width: 100%;
    text-align: center;
    display: inline-block;
  }

}