::-moz-selection {
  background-color: #3ECF8E;
  color: rgb(254, 254, 254);
}

:focus {
  box-shadow: var(--bg-color-3) 0 0 0 1px;
}

:root {
  --colorAlabaster: #fafafa;
  --colorHeather: #B9C8D6;
  --ColorCatskillWhite: #EDF2F7;
  --ColorSolitude: #EBF8FF;
  --ColorMirage: #171923;
  --ColorShark: #272C32;
  --ColorMalibu: #60b3fb;
  --ColorDenim: #194AD4;
  --ColorOxfordBlue: #2D3748;
  --ColorDoveGray: #717070;
  --ColorCodGray: #121212;
  --ColorCharade: #292B37;
  --ColorBlackRussian: #1c202f;
  --ColorSolitude: #E2E8F0;
  --ColorFontPrimary: var(--ColorCodGray);
  --secondary-font-color: var(--ColorOxfordBlue);
  --tertiary-font-color: var(--ColorDoveGray);
  --href-color: var(--ColorDenim);
  --bg-color: var(--colorAlabaster);
  --BgDark: var(--ColorSolitude);
  --BgColor2: var(--ColorSolitude);
  --bg-color-3: var(--ColorCatskillWhite);
  --nav-bg: rgba(251,251,251,0.8);
  --image-filter: none;
  --ButtonBg: var(--ColorCatskillWhite);
  --ButtonBgHover: var(--ColorSolitude);
}

[data-theme="dark"] {
  --ColorFontPrimary: var(--colorAlabaster);
  --secondary-font-color: var(--colorHeather);
  --tertiary-font-color: #8c95bd;
  --href-color: var(--ColorMalibu);
  --bg-color: var(--ColorMirage);
  --BgDark: var(--ColorShark);
  --BgColor2: var(--ColorShark);
  --bg-color-3: rgba(255, 255, 255, 0.08);
  --nav-bg: rgba(23, 25, 35, 0.8);
  --image-filter: grayscale(15%);
  --ButtonBg: var(--ColorCharade);
  --ButtonBgHover: var(--ColorBlackRussian);
}

*, *::before, *::after {
  box-sizing: border-box;
}

*, ::before, ::after {
  border-width: 0;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

::selection {
  background-color: #3ECF8E;
  color: rgb(254, 254, 254);
}

html {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--ColorFontPrimary);
  transition: background-color 0.5s ease;
}


/* Common */

a {
  color: var(--href-color);
  cursor: pointer;
  transition: all 0.15s ease-out 0s;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button, input, optgroup, select, textarea {
  line-height: inherit;
  color: inherit;
  padding: 0;
}

img, video {
  max-width: 100%;
  width: 100%;
  height: auto;
}

img:not([src*=".svg"]) {
  filter: var(--image-filter);
}

ol, ul {
  margin: 0;
  padding: 0;
}

nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 56.25rem;
  width: 100%;
  background-color: var(--nav-bg);
  padding: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  z-index: 5;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.5s ease;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 48.125rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: auto;
  margin-left: auto;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto 4rem auto;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 43.75rem;
  width: 100%;
  margin-bottom: 0;
}


section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 43.75rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 2em;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 2em;
}

p {
  margin-top: 1rem;
  line-height: 1.625;
  margin-bottom: 2rem;
  font-size: 0.98rem;
}

ul {
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}

li {
  padding-bottom: 0.25rem;
}

blockquote {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-left: 0.75rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: var(--BgColor2);
  border-left: 4px solid;
  border-color: #3182ce;
  margin-top: 1rem;
  width: 98%;
  margin-bottom: 2rem;
}

blockquote > *:first-of-type {
  margin-top: 0;
  margin-left: 8px;
  line-height: 1.625;
}

footer {
  padding: 2rem;
  color: var(--tertiary-font-color);
}

/* SVG Icons */

.svg-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  backface-visibility: hidden;
  color: currentColor;
}

/* Navigation */

.nav__list {
  font-size: 0;
}

.nav__item {
  border-radius: 0.25rem;
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.2;
  outline: none;
  height: 2.5rem;
  transition: background-color ease 250ms;
  min-width: 2.5rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: inherit;
}

.nav__item:hover {
  background-color: var(--bg-color-3);
  text-decoration: none;
}

/* Theme Switcher */

.theme-switch__input {
  display: none;
}

.theme-switch__toggle {
  outline: 0;
  display: block;
  height: 2.5rem;
  min-width: 2.5rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.5s ease;
  overflow: hidden;
  backface-visibility: hidden;
  font-family: sans-serif;
}

.theme-switch__toggle:hover {
  background-color: #eff4fb;
}

.theme-switch__icon {
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.theme-switch__toggle .theme-switch__icon--light {
  top: 100%;
  content: attr(data-tg-dark);
}

.theme-switch__toggle .theme-switch__icon--dark {
  top: 0;
  content: attr(data-tg-light);
}

.theme-switch__toggle:active {
  background: #888;
}

.theme-switch__toggle:active .theme-switch__icon--dark {
  top: -10%;
}

.theme-switch__input:checked + .theme-switch__toggle:hover {
  background-color: #32323c;
}

.theme-switch__input:checked + .theme-switch__toggle .theme-switch__icon--dark {
  top: -100%;
}

.theme-switch__input:checked + .theme-switch__toggle .theme-switch__icon--light {
  top: 0;
}

.theme-switch__input:checked + .theme-switch__toggle:active .theme-switch__icon--light {
  top: 10%;
}

/* Footer */

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
  backdrop-filter: none;
}

.social__item {
  height: 3rem;
  min-width: 3rem;
  padding: 0;
}

.branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.75rem;
}

/* Article Header */

.header__meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.header__meta-container {
  display: flex;
  align-items: center;
}

.header__meta-image {
  vertical-align: top;
  // display: inline-flex;
  border-radius: 50%;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #7c7fa9;
  color: #1A202C;
  margin-right: 0.5rem;
  display: none;
}

.header__meta-authored {
  font-size: 0.82rem;
  color: var(--secondary-font-color);
}

.header__read-time {
  font-size: 0.75rem;
  color: var(--secondary-font-color);
  min-width: 4.375rem;
  margin-top: 0;
  text-align: right;
}

/* Article Content */

.nuxt-content {
  width: 100%;
}

.article__img {
  margin-top: 1rem;
  line-height: 0;
  margin-bottom: 2rem;
}

/* Button */

.btn {
  border-radius: 0.25rem;
  font-weight: 600;
  width: 250px;
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.2;
  outline: none;
  height: 2.5rem;
  transition: background-color ease 250ms;
  min-width: 2.5rem;
  font-size: 0.85rem;
  background-color: var(--ButtonBg);
  padding: 0.25rem 1rem;
  margin: 1.5rem auto;
  color: inherit;
}

.btn:hover {
  background-color: var(--ButtonBgHover);
  text-decoration: none;
}

/* Blog Card */

.card {
  cursor: pointer;
  width: 100%;
  transition: box-shadow 0.15s ease-out 0s;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem 0;
  color: inherit;
}

.card:hover {
  text-decoration: none;
}

.card:focus {
  box-shadow: rgba(66, 153, 225, 0.6) 0 0 0 2px;
}

.card__title {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.card__excerpt {
  color: var(--secondary-font-color);
  margin: 0;
}

/* Search */

.search {
  // display: flex;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 100%;
  border-color: transparent;
  display: none;
}

.search__input {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  background-color: var(--BgDark);
  transition: box-shadow 0.2s ease 0s, border-color 0.2s ease 0s;
  outline: none;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: inherit;
}

.search__input:focus {
  z-index: 1;
  box-shadow: rgb(49, 130, 206) 0 0 0 1px;
  border-color: rgb(49, 130, 206);
}

.search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  top: 0;
  z-index: 2;
  right: 0;
}

.search__svg {
  width: 1em;
  height: 1em;
  color: rgb(203, 213, 224);
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  backface-visibility: hidden;
}

.search__svg:not(:root) {
  overflow: hidden;
}

/* Tags */

.tags__tag {
  text-overflow: ellipsis;
  align-items: center;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  border: 1px solid var(--bg-color-3);
  border-radius: 50px;
  color: var(--secondary-font-color);
  transition: background-color 0.5s ease;
}

.tags__tag:hover {
  text-decoration: none;
  background-color: var(--bg-color-3);
}

/* Media Queries */

@media screen and (min-width: 48em) {
  h1 {
    font-size: 3rem;
  }

  header {
    margin-bottom: 1rem;
  }
}
